*, ::after ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}


body{
    position: relative;
    border: 1px solid rgb(191, 184, 184);
}


header{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    border: 1px solid rgb(227, 216, 216);
    align-items: center;

}
header span{
    margin-left: 30px;
}

header nav ul {
    display: flex;
    margin-right: 50px;
    flex-direction: row;
    justify-content: space-evenly;
    
    justify-content: space-between;
    list-style: none;
}

header nav ul li{
    padding: 0 10px 0 10px;
}
section{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    margin: 30px;
    border: 1px solid rgb(191, 184, 184);
}
img{
    margin: auto;
}

h1{
    width: 50%;
    text-align: center;
    margin: 30px auto ;
    padding-top: 50px;
    padding-bottom: 50px;
    border: 0px solid rgb(191, 184, 184);
    

}
p{
    margin: 0 30px 30px 30px;
}
footer{
    display: flex;
    justify-content: center;
}